<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap-3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.0.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="template.css">
    <script src="bootstrap-3.0.2/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="ui-bootstrap-tpls-0.7.0.min.js"></script>
    <script type="text/javascript">
        angular.module('gewuerzgurke', ['ui.bootstrap'])
                .controller('StepController', function StepController($scope) {
                    $scope.givenTypeahead = ['a customer', 'an order', 'the customer wants to pay with $1'];
                    $scope.whenTypeahead = ['the customer checks out', 'the customer commits the order', 'the customer cancels the order'];
                    $scope.thenTypeahead = ['the order is saved', 'the stock is reversed', 'the coupon is invalidated', 'the credit account is reserved'];
                    $scope.givenSteps = ['a customer'];
                    $scope.whenSteps = [];
                    $scope.thenSteps = [];
                    $scope.newGiven = undefined;
                    $scope.newWhen = undefined;
                    $scope.newThen = undefined;
                    $scope.outline = false;

                    $scope.getParameters = function getParameters(step) {
                        if (/\$\d+/.test(step)
                                )
                    }

                    $scope.hasGivenSteps = function hasGivenSteps() {
                        return $scope.givenSteps.length > 0;
                    }
                    $scope.addGiven = function addGiven() {
                        if ($scope.newGiven) {
                            $scope.givenSteps.push($scope.newGiven);
                            $scope.newGiven = undefined;
                        }
                    }
                    $scope.removeGiven = function removeGiven(index) {
                        $scope.givenSteps.splice(index, 1);
                    }

                    $scope.hasWhenSteps = function hasWhenSteps() {
                        return $scope.whenSteps.length > 0;
                    }
                    $scope.addWhen = function addWhen() {
                        if ($scope.newWhen) {
                            $scope.whenSteps.push($scope.newWhen);
                            $scope.newWhen = undefined;
                        }
                    }
                    $scope.removeWhen = function removeWhen(index) {
                        $scope.whenSteps.splice(index, 1);
                    }

                    $scope.hasThenSteps = function hasThenSteps() {
                        return $scope.thenSteps.length > 0;
                    }
                    $scope.addThen = function addThen() {
                        if ($scope.newThen) {
                            $scope.thenSteps.push($scope.newThen);
                            $scope.newThen = undefined;
                        }
                    }
                    $scope.removeThen = function removeThen(index) {
                        $scope.thenSteps.splice(index, 1);
                    }
                });
    </script>
</head>
<body ng-app="gewuerzgurke">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gewürzgurke</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Create Scenario</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container">
    <div class="template">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" toggle="dropdown">
                        {{outline && 'Scenario outline' || 'Scenario'}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="outline = false">Scenario</a></li>
                        <li><a href="#" ng-click="outline = true">Scenario Outline</a></li>
                    </ul>
                </span>
                <input type="text" class="form-control" placeholder="Scenario description"></h3>
            </div>
        <div class="scenario">

            <div ng-controller="StepController">
                <div ng-repeat="step in givenSteps">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-primary step-type"
                               ng-click="removeGiven($index)"
                               value="{{$first && 'Given' || 'And'}} &times;">
                    </span>
                        <input type="text" value="{{step}}" class="form-control" readonly>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                    <span class="input-group-btn">
                            <input type="button" class="btn btn-primary step-type"
                                   value="{{!hasGivenSteps() && 'Given' || 'And'}} &plus;">
                    </span>
                        <input type="text" ng-model="newGiven"
                               typeahead="step for step in givenTypeahead"
                               typeahead-on-select="addGiven()"
                               typeahead-min-length="0"
                               class="form-control">
                    </div>
                </div>

                <div ng-repeat="step in whenSteps">
                    <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-warning step-type"
                           ng-click="removeWhen($index)"
                           value="{{$first && 'When' || 'And'}} &times;">
                </span>
                        <input type="text" value="{{step}}" class="form-control" readonly>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-warning step-type"
                           value="{{!hasWhenSteps() && 'When' || 'And'}} &plus;">
                </span>
                        <input type="text" ng-model="newWhen"
                               typeahead="step for step in whenTypeahead"
                               typeahead-on-select="addWhen()"
                               typeahead-min-length="0"
                               class="form-control">
                    </div>
                </div>

                <div ng-repeat="step in thenSteps">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-info step-type"
                               ng-click="removeThen($index)"
                               value="{{$first && 'Then' || 'And'}} &times;">
                    </span>

                        <input type="text" value="{{step}}" class="form-control" readonly>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                    <span class="input-group-btn">
                        <input type="button" class="btn btn-info step-type"
                               value="{{!hasThenSteps() && 'Then' || 'And'}} &plus;">
                    </span>
                        <input type="text" ng-model="newThen"
                               typeahead="step for step in thenTypeahead"
                               typeahead-on-select="addThen()"
                               typeahead-min-length="0"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="examples" ng-show="outline">
                <h3>Examples:</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th>App Domain</th>
                        <th>Payment Method</th>
                        <th>Shipping Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Invoice</td>
                        <td>DE</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>PayPal</td>
                        <td>DE</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>
