body {
    padding-top: 3em;
}
.template {
    padding: 4em 3em;
}
.step-type {
    width: 6em;
    text-align: right;
}
.scenario {
    padding: 1em;
    border: 1px solid #dddddd;
}
.examples {
    padding: 1em;
}s
